{% macro locale_switcher(locales, currentLocale, routeName, routeParams) %}
<div class="dropdown meili-locale-switcher">
    <a class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" href="#">
        🌐 {{ currentLocale|upper }}
    </a>
    <ul class="xdropdown-menu xdropdown-menu-end ">
        {% for locale in locales %}
            <li>
                <a class="xxdropdown-item {{ locale == currentLocale ? 'active' : '' }}"
                   href="{{ path(routeName, routeParams|merge({'_locale': locale})) }}">
                    {{ locale|upper }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}
